.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.signout {
  position: absolute;
  top: 0;
  right: 0;
 
}

.workoutList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.workoutList li {
  border: white solid;
  border-radius: 2%;
  margin-bottom: 2px;
  width: 45vw;
}

.exerciseList {
  list-style: none;
  text-align: left;
  padding: 0;
}

.workoutList li:hover {
  background-color: cadetblue;
}

.exerciseBase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.exerciseBlock {
  width: 45vw;
  margin-bottom: 50px;
}

.exerciseButton {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setInput {
  width: 10%;
}

.workoutLI {
  position: relative;
}

.pencilIcon {
  position: absolute;
  left: 5px;
  top: 5px;
  margin: 5px;
}

.trashIcon {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 5px;
}