.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.signout {
  position: absolute;
  top: 0;
  right: 0;
 
}

.workoutList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.workoutList li {
  border: white solid;
  border-radius: 2%;
  margin-bottom: 2px;
  width: 45vw;
}

.exerciseList {
  list-style: none;
  text-align: left;
  padding: 0;
}

.workoutList li:hover {
  background-color: cadetblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
